In [2]:
import pandas as pd
import re

In [3]:
data_books = pd.read_csv(r"C:\Users\MSI\Documents\Proyectos\Datasets\Amazon_Books_Scraping\Books_df.csv", index_col=0)
data_genres = pd.read_csv(r"C:\Users\MSI\Documents\Proyectos\Datasets\Amazon_Books_Scraping\Genre_df.csv")
data_sub = pd.read_csv(r"C:\Users\MSI\Documents\Proyectos\Datasets\Amazon_Books_Scraping\Sub_Genre_df.csv")

In [4]:
data_books.head()

,Title,Author,Main Genre,Sub Genre,Type,Price,Rating,No. of People rated,URLs
0,The Complete Novel of Sherlock Holmes,Arthur Conan Doyle,"Arts, Film & Photography",Cinema & Broadcast,Paperback,₹169.00,4.4,19923.0,https://www.amazon.in/Complete-Novels-Sherlock...
1,Black Holes (L) : The Reith Lectures [Paperbac...,Stephen Hawking,"Arts, Film & Photography",Cinema & Broadcast,Paperback,₹99.00,4.5,7686.0,https://www.amazon.in/Black-Holes-Lectures-Ste...
2,The Kite Runner,Khaled Hosseini,"Arts, Film & Photography",Cinema & Broadcast,Kindle Edition,₹175.75,4.6,50016.0,https://www.amazon.in/Kite-Runner-Khaled-Hosse...
3,Greenlights: Raucous stories and outlaw wisdom...,Matthew McConaughey,"Arts, Film & Photography",Cinema & Broadcast,Paperback,₹389.00,4.6,32040.0,https://www.amazon.in/Greenlights-Raucous-stor...
4,The Science of Storytelling: Why Stories Make ...,Will Storr,"Arts, Film & Photography",Cinema & Broadcast,Paperback,₹348.16,4.5,1707.0,https://www.amazon.in/Science-Storytelling-Wil...

In [5]:
data_books.drop(columns='URLs', inplace=True)

In [6]:
data_books.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7928 entries, 0 to 7927
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Title                7928 non-null   object
 1   Author               7907 non-null   object
 2   Main Genre           7928 non-null   object
 3   Sub Genre            7928 non-null   object
 4   Type                 7928 non-null   object
 5   Price                7928 non-null   object
 6   Rating               7928 non-null   float64
 7   No. of People rated  7928 non-null   float64
dtypes: float64(2), object(6)
memory usage: 557.4+ KB

In [7]:
def digits(num):
    return  re.sub(r'\D', '',num)

In [8]:
data_books['Price'] = data_books['Price'].apply(digits)

In [9]:
data_books['Price'] = data_books['Price'].astype('float')

In [10]:
data_books =data_books.map(lambda x: x.lower() if isinstance(x, str) else x)

In [11]:
data_books['Sub Genre'] = data_books['Sub Genre'].str.replace('&',',').str.strip()

In [12]:
data_books['Main Genre'] = data_books['Main Genre'].str.replace('&',',')

In [13]:
data_books.head()

,Title,Author,Main Genre,Sub Genre,Type,Price,Rating,No. of People rated
0,the complete novel of sherlock holmes,arthur conan doyle,"arts, film , photography","cinema , broadcast",paperback,16900.0,4.4,19923.0
1,black holes (l) : the reith lectures [paperbac...,stephen hawking,"arts, film , photography","cinema , broadcast",paperback,9900.0,4.5,7686.0
2,the kite runner,khaled hosseini,"arts, film , photography","cinema , broadcast",kindle edition,17575.0,4.6,50016.0
3,greenlights: raucous stories and outlaw wisdom...,matthew mcconaughey,"arts, film , photography","cinema , broadcast",paperback,38900.0,4.6,32040.0
4,the science of storytelling: why stories make ...,will storr,"arts, film , photography","cinema , broadcast",paperback,34816.0,4.5,1707.0

In [14]:
data_books.drop(columns=('No. of People rated'),inplace=True)

In [15]:
data_books['Tags']=(data_books['Main Genre'].str.lower().str.split(',') + data_books['Sub Genre'].str.lower().str.split(',')).map(lambda tags_complete: list(dict.fromkeys(tags_complete)))

In [16]:
data_books['Tags'] = data_books['Tags'].map(lambda chain: [tag.strip() for tag in chain])

In [17]:
data_books.drop(columns=['Sub Genre','Main Genre'], inplace=True)

In [26]:
data_books['Tags'] =data_books['Tags'].map(lambda row: [tag_re.replace(' ','_') for tag_re in row])

In [27]:
data_books.dropna(inplace=True)

In [28]:
data_books.to_parquet('books_cleaned.parquet')